# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
/dist/
/build/
*.egg-info/
.eggs/
*.egg

# Virtual environments
.venv/
venv/
ENV/

# IDEs and editors
.idea/
.vscode/
*.pyc

# Test result files
pytest_cache/
.coverage
.tox/
htmlcov/

# Dependency management
pip-lock.txt
pipfile.lock
